// // /* Fuentes */
@font-face {
  font-family: 'SourceSansPro-ExtraLight';
  font-style: normal;
  font-weight: 200;
  src: local('SourceSansPro-ExtraLight'), url('../assets/fonts/SourceSansPro-ExtraLight.woff') format('woff');
}


@font-face {
  font-family: 'SourceSansPro-Light';
  font-style: normal;
  font-weight: 300;
  src: local('SourceSansPro-Light'), url('../assets/fonts/SourceSansPro-Light.woff') format('woff');
}


@font-face {
  font-family: 'SourceSansPro-Regular';
  font-style: normal;
  font-weight: 400;
  src: local('SourceSansPro-Regular'), url('../assets/fonts/SourceSansPro-Regular.woff') format('woff');
}

@font-face {
  font-family: 'SourceSansPro-SemiBold';
  font-style: normal;
  font-weight: 600;
  src: local('SourceSansPro-SemiBold'), url('../assets/fonts/SourceSansPro-SemiBold.woff') format('woff');
}

@font-face {
  font-family: 'SourceSansPro-Bold';
  font-style: normal;
  font-weight: 700;
  src: local('SourceSansPro-Bold'), url('../assets/fonts/SourceSansPro-Bold.woff') format('woff');
}

@font-face {
  font-family: 'SourceSansPro-Black';
  font-style: normal;
  font-weight: 900;
  src: local('SourceSansPro-Black'), url('../assets/fonts/SourceSansPro-Black.woff') format('woff');
}

