



// Fonts

$SansPro-extra: "SourceSansPro-ExtraLight", sans-serif; //100
$SansPro-light: "SourceSansPro-Light", sans-serif; //300
$SansPro-regular: "SourceSansPro-Regular", sans-serif; //400
$SansPro-semiBold: "SourceSansPro-SemiBold", sans-serif; //600
$SansPro-bold: "SourceSansPro-Bold", sans-serif; //700
$SansPro-black: "SourceSansPro-Black", sans-serif; //900




// Colors Olas
$white: #ffffff;
$white-2: #fefefe;
$white-3: #fcfefe;
$white-4: #fcfdfe;
$white-5:#fdf8f8;
$light-blue: #189abd;
$blue-darck: #10235f;
$yellow:#ffdf00;
$bright-blue2: #007bff;
$sky-blue-opacity-20: #f5fbfe;
$sky-blue-opacity-25: #f2fafd;
$sky-blue-opacity-30: #e9f7fc;
$sky-blue-opacity-35: #e3f5fc;
$sky-blue-opacity-50: #d7f1fb;
$sky-blue-opacity-55: #d5f0fb;
$grey: #c2c2c2;
$light-red: #f8aaaa;
$red-global: #f25858;
$red-error: #ff0000;
$black: #000000;
$grey-ruts-about: #f8f9f9;
$grey-sidebar: #666666;
$green: #00b14d;
$black-label:#212529;

/*******/


